html,
body {
    height: 100%;
    font: 16px "Droid Sans",Trebuchet MS,Arial,Helvetica,sans-serif;
}

.icon {
    background-image: url("Images/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    width: 70px;
    height: 35px;
    border: none;
}

/* Navigation Bar */
#LogoHolder {
    position: relative; 
    width: 300px;
}

#UMDLogo {
    height: 75px;
    width: 75px;
    margin-right: 0.75rem;
    padding: 3px;
}

#LabTitle {
    font-size: 35px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

.navbar {
    padding: 0.1rem 2rem;
}

.navbar-toggler {
    margin: 1rem 0rem;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #73a959;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(49, 49, 49);
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #4b7237;
}

/* Page Headers */
.page-header {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.page-header p {
    font-size: large;
}

#publications-image {
    background: url("Images/writing.jpeg") no-repeat fixed;
    background-size: cover;
    height: 500px;
}
#research-image {
    background: url("Images/media.jpeg") no-repeat fixed;
    background-size: cover;
    height: 500px;
}

#members-image {
    background: url("Images/group-pic.jpeg") no-repeat fixed;
    background-size: cover;
    height: 500px;
}

#farm-image {
    background:url('Images/rando-farm.jpeg') no-repeat fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

#farm-study-image {
    background:url('Images/study.jpg') no-repeat fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

#farm-recommendations-image {
    background:url('Images/hands.jpg') no-repeat fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

#farm-outreach-image {
    background:url('Images/crowd.jpg') no-repeat fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

#farm-publications-image {
    background:url('Images/papers.jpg') no-repeat fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

#contact-image {
    background: url("Images/lab.jpeg") no-repeat fixed;
    background-size: cover;
    height: 500px;
}

#media-image {
    background: url("Images/social-media.jpeg") no-repeat fixed;
    background-size: cover;
    height: 500px;
}

#conferences-image {
    background: url("Images/microphone.jpg") no-repeat fixed;
    background-size: cover;
    height: 500px;
}

.parallax {
    margin-bottom: 4rem;
}

.parallax::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 500px;
}

.left-aligned {
    text-align: left;
}


/* #farm-image .parallax2::before{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(60deg, rgba(183, 211, 152, 1) 25%,rgba(183, 211, 152, 0.8), rgba(183, 211, 152, 0.25), rgba(183, 211, 152, 0.1));
    width: 100%;
    height: 100%;
} */

.parallax-inner {
    padding-top: 250px;
    padding-bottom: 250px;
    position: relative;
}

/* Carousel - Homepage*/
#slideshow {
    margin-bottom: 4rem;
    height: 80%;
}

#slideshow .carousel-caption {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 30vh;
    line-height: normal;
    height: 100%;
}
.carousel-item {
    height: 100%;
}
.carousel-inner {
    height: 100%;
    width: 100%;
}

#slideshow .carousel-inner img {
    filter: brightness(35%);
    object-fit: cover;
    object-position: center;
    height: inherit;
    background: rgb(49, 49, 49);
}

.carousel-control-prev,
.carousel-control-next {
    width: 20%;
}

.carousel-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel-center p {
    font-size: large;
}

.slideshow-button {
    vertical-align: text-bottom;
    width: fit-content;
    margin-top: 1rem;
}

#slideshow-culture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                                url(Images/culture.jpg);
}

#slideshow-cows {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(Images/cows.jpg);
}

#slideshow-fowls {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(Images/fowls.jpg);
}

#slideshow-probiotics {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(Images/probiotics.jpg);
}

#slideshow-umd {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(Images/umd.jpg);
}

/* Carousel - Conferences */
.conferences-carousel {
    width: 40rem;
    height: 25rem;
}

.conferences-carousel:hover .carousel-caption {
    opacity: 1;
}

.conferences-carousel .carousel-caption {
    text-align: left;
    background-image:  linear-gradient(to top, rgba(49,49,49,1) 0%,rgba(49,49,49,0.8) 30%, rgba(49,49,49,0.4) 80%, rgba(49, 49, 49, 0));
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: 0;
    transition:all 250ms ease-in-out;
    -webkit-transition:all 250ms ease-in-out;
    -moz-transition:all 250ms ease-in-out;
    -o-transition:all 250ms ease-in-out;
    -ms-transition:all 250ms ease-in-out;
}

/* Research Cards on home page */
.research-card {
    margin: 0.5rem;
}

.thumbnail-container {
    padding: 0.5rem
}

.thumbnail {
    background-size: cover;
    background-position: center center;
    min-height: 200px;
    width: 100%;
    height: 100%;
}

/* Lab Updates and News */
.lab-updates td {
    text-align: left;
    padding: 0.25rem;
}

.accordion-button {
    font-size: 25px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #4b7237;
    background-color: #f4f5f8;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2367a349'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Media Modal */
.modal {
    background-color: rgba(265,265, 265, 0.2);
    color: #555555;
}

.modal-dialog {
    height: 90%;
    width: 70%;
    max-width: none;
    margin-inline: auto;
}

.modal-body {
    height: 75%;
    width: 100%;
  }

.modal-header {
    position: relative;
    border-bottom: none;
}

.modal-content {
    background-color: rgba(245,245,245, 1);
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
}

.modal-footer {
    border-top: none;
    background-color: lightgray;
    padding: 10px 1rem 1rem 1rem !important;
    height: 15%;
}

#prev {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 10%;
}

.prev-button {
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 2rem;
    color: silver;
}

#next {
    position: absolute;
    top: 0%;
    left: 90%;
    height: 100%;
    width: 10%;
}

.next-button {
    position: absolute;
    top: 50%;
    right: 5%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    padding-right: 2rem;
    color: silver;
}

#caption {
    color: #333333;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: -0.5rem;
    text-align: center;
    margin-bottom: 0;
    max-height: 100%;
    overflow-y: scroll;
    padding: 0 0.75rem;
  }

#scroll {
    overflow-x: auto;
    height: 100%;
}

#gallery {
    justify-content: space-between; row-gap: 20px;
}

#gallery img {
    width: 100%;
}

.mySlides {
    display: none;
}

.mySlides img {
    object-fit: cover;
    height: 100%;
    max-width: 400px;
}

#showcase {
    height: 100%;
    width: 100%;
    left: 50%;
    object-fit: contain;
    display: inline-flex;
  }

#showcase-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 2px gray);
  }

  #showcase-video {
    max-width: 80%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
  }


#scroll img {
    object-fit: cover;
    height: 100%;
    max-width: 175px;
    width: inherit;
    padding-right: 0px;
  }
  

.cursor {
    cursor: pointer;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.demo:hover {
    opacity: 0.6;
    transform: translateY(-10px);
}
.mini-thumbnail:hover {
    opacity: 0.7;
  }

.active,
.demo {
  opacity: 1;
}

.centered {
    margin: auto;
    text-align: center;
}

.body-section {
    margin-top: 2rem;
    padding-bottom: 3rem;
    width: 65%;
}


.secondary-section {
    padding: 2rem 0;
    text-align: left;
}

.secondary-section h2 {
    font-size: 22px;
}

.research-obj {
    width: 25rem;
    margin: 1rem;
    padding: 0;
}

.profile {
    width: 175px;
    height: 200px;
    object-fit: cover;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

/* Footer */
footer {
    padding: 2rem 0;
}

a {
    color: inherit;
}

a:hover {
    color: #73a959;
}

#publications-list li {
    padding: 0.5rem 0;
    text-align: left;
}


h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.dark {
    background-color: #f2f2f2;
    padding-top: 2rem;
}

#currProj a {
    text-decoration: none;
}

figure {
    text-align: center;
}

.figure img {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    max-height: 350px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
}

.figure-caption {
    margin-left: auto;
    margin-right: auto;
    color:#333333;
}


/* Farm Project Page */
.sidenav-wrapper {
    border-right: #f2f2f2 1px solid;
}

.sidenav {
    position: sticky;
    z-index: 1;
    top: 20px;
    text-align: right;
  }
  
.sidenav a {
    padding: 6px 10px 6px 0px;
    text-decoration: none;
    font-size: 19px;
    color: black;
    display: block;
}

.sidenav a.small-link{
    font-size: 16px;
    font-weight:normal;
    color: #818181;
    margin-right: 18px;
}


a:hover {
    color: #73a959;
}

.sidenav a.small-link:hover{
    color: #73a959;
}

.current {
    color: #73a959!important;
  }

.sidenav .small-link{
    font-size: 16px;
    font-weight:normal;
    color: #818181;
}



.body-section-for-project {
    width: 90%;
    word-wrap: break-word;
}

.body-section-for-project p {
    line-height: 1.8;
}

.farm-content {
    padding-left: 3rem;
}

.farm-content .section {
    margin-bottom: 2rem;
}

.row-img {
    object-fit: cover;
    float: right
}

.dark-box {
    background-color: #f2f2f2;
    padding: 2rem
}

/* Conferences Timeline */
#timeline {
    position: relative;
    display: table;
    bottom: 0rem;
    display: flex;
    flex: auto;
    flex-direction: column;
    text-align: left;
}
#timeline h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    margin: 0;
    font-weight: 400;
}

#timeline #line:after {
    content: '';
    width: 2px;
    position: absolute;
    top: 0.5rem;
    bottom: 0rem;
    left: 58px;
    z-index: 1;
    background: #c5c5c5;
}



#timeline section.year {
    position: relative;
}

#timeline section.year section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom: 2.5em;
}

#timeline section.year section h4 {
    position: absolute;
    bottom: 0;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    padding: 0 0 0 82px;
    color: grey;
}

#timeline section.year section ul {
    list-style-type: none;
    padding: 0 0 0 75px;
    margin: -1.35rem 0 1em;
}

#timeline section.year section ul:last-child {
    margin-bottom: 0;
}


#timeline section.year section ul:first-of-type:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #c5c5c5;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 52px;
    top: 7px;
    z-index: 2;
}



#timeline section.year section ul li {
    margin-left: 0.5rem;
}


#timeline section.year section ul li:not(:first-child) {
    margin-top: 0.5rem;
}

.linkedin-icon {
    max-height: 20px;
}

.subtitle {
    font-size: 30px;
}

.section {
    max-width: 800px;
}

.section h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.section h2 {
    font-size: 25px;
    margin-bottom: 2px;
}

.section hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.iframe-container {
    overflow: hidden;
    padding-top: 66.66%;
    position: relative;
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

.contact-header {
    font-size: 30px;
}

#contact a {
    text-decoration: none;
}

#map {
    border: 0;
    width: 100%;
    height: 100%;
    min-height: 300px
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .body-section {
        margin-top: 6rem;
        width: 80%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .lab-updates {
    display: none;
  }
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
    border: none;
    left: -60%;
  }